doctype html
html(lang="en")
  head
    title sarcas.tech | Oh good. You're here.
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')


  body
    div#target
    script(type='text/javascript' src='/socket.io/socket.io.js')
    script(src='/index/js/home.bundle.js')
